# {{ ansible_managed }}
#

[Unit]
Description=ICOS3
After=network.target

[Service]
Type=forking
User={{ ansible_user|default(ansible_user_id) }}
ExecStart={{ install_dir }}/apps/bin/dms.sh start
ExecStop={{ install_dir }}/apps/bin/dms.sh stop
Environment=BASE_INSTALL_DIR={{ install_dir }}
TimeoutSec=360
RemainAfterExit=no
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
