# {{ ansible_managed }}

[Unit]
Description=Icinga Agent
After=network.target

[Service]
Type=simple
ExecStart={{ nagios_path }}/icinga-agent.sh register
ExecStop={{ nagios_path }}/icinga-agent.sh unregister
WorkingDirectory={{ nagios_path }}
RemainAfterExit=yes

[Install]
WantedBy=default.target
